.news {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid  var(--gray-8);
  
  .news-header {
    border-bottom: 1px solid  var(--gray-8);

    background:  var(--gray-2);

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    padding: 5px;

    .news-header__h2 {
      margin: 0;
      align-self: center;
      white-space: nowrap;

      flex:1;

      line-height: 1.4;
    }

    .news-header__buttons {
      display: flex;

      .button {
        margin-left: 5px;
      }

      .select {
        margin-left: 5px;
        padding: 0 5px;

        max-width: 200px;
      }

      .select:hover {
        background: var(--gray-1);
        cursor: pointer;
      }

      .button:hover {
        color: var(--red-1);
      }

      ._active {
        background: rgba(102, 102, 102, 0.2);
        outline: none;
      }

      ._active:hover {
        color: var(--black-1);
        background: rgba(102, 102, 102, 0.15);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;

        transform: scale(1.20);
      }
    }

    @media screen and (max-width: 600px) {
      .news-header__buttons {
        font-size: 15px;
        flex-wrap: wrap;

        padding-top: 5px;

        .button {
          border-width: 1px;
          padding: 3px 7px;
          margin-bottom: 5px;
        }

        .select {
          margin-bottom: 5px;
        }
      }
    }
  }

  .news-writer {
    padding: 10px;
    display: flex;
    flex-direction: column;

    border: 1px solid  var(--gray-8);
    border-top: none;

    textarea {
      overflow: auto;

      resize: none;

      height: 150px;

      background: var(--gray-1);
      border: 1px solid var(--gray-8);
      border-radius: 3px;
      padding: 8px 0 8px 10px;
    }

    .news-writer__controls {
      display: flex;
      justify-content: space-between;

      padding-top: 10px;

      .news-writer__buttons {
        display: flex;

        flex-wrap: wrap;

        .button {
          margin-left: 5px;
        }

        .button:first-child {
          margin-left: 0;
        }

        .icon {
          margin-left: 0;
        }

        .select {
          padding: 0 5px;
          margin-right: 20px;

          max-width: 200px;
        }

        .select:hover {
          background: var(--gray-1);
          cursor: pointer;
        }

        .tag {
          margin: 0 5px;
          padding:0 5px ;

          display: flex;
          height: 19px;

          align-self: center;
        }

        @media screen and (max-width: 600px) {
          .tag{
            margin-top: 5px;
          }
        }

        .delete-tag-icon {
          margin-left: 2px;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;

          cursor: pointer;
        }

        ._green {
          border-bottom: 3px solid var(--green-2);
        }

        ._red {
          border-bottom: 3px solid var(--red-1);
        }

        ._gray {
          border-bottom: 3px solid var(--gray-25);
        }

        ._blue {
          border-bottom: 3px solid var(--blue-1);
        }
      }

      .button {
        display: flex;
        line-height: 1.2;

        align-self: center;
      }

      .icon {
        margin-left: 10px;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        transform: scale(1.20);
      }
    }
  }

  .news-post {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--gray-15);

    padding: 7px 10px 5px;

    border-radius: 3px;
    margin: 15px 10px;

    .news-post__header {
      display: flex;
      justify-content: space-between;

      .news-post__author {
        font-weight: bold;
        font-size: 18px;

        padding: 2px 5px 0;
        display: block;

        align-self: center;
        border-bottom: 1px solid var(--gray-8);
      }

      .news-post__buttons {
        display: flex;

        opacity: 0;
        transition: 0.4s;

        border: 1px solid  var(--gray-8);
        border-radius: 3px;

        background: var(--gray-1);

        .button {
          padding: 5px;
        }

        .button:hover {
          background: var(--gray-0);
        }

        .icon {
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .news-post__message {
      border: 1px solid  var(--gray-8);
      border-radius: 3px;

      margin-top: 8px;
      padding: 5px;

      margin-bottom: 10px;
      white-space: pre-wrap;

      background: var(--gray-1);
    }
    .news-post__info {
      display: flex;

      justify-content: space-between;

      .news-post__tags {
        display: flex;
        height: 25px;

        .tag {
          margin: 0 5px;
          padding:0 5px;

          display: flex;
          height: 19px;

          align-self: center;
        }
        .tag:first-child {
          margin-left: 0;
        }


        ._green {
          border-bottom: 3px solid var(--green-2);
        }

        ._red {
          border-bottom: 3px solid var(--red-1);
        }

        ._gray {
          border-bottom: 3px solid var(--gray-25);
        }

        ._blue {
          border-bottom: 3px solid var(--blue-1);
        }
      }

      .news-post__date {
        align-self: center;

        color:var(--gray-25);
        padding: 0 5px;

      }
    }
  }

  .news-post:hover .news-post__buttons {
    opacity: 1;
  }

  .news-post._green {
    border-left: 5px solid var(--green-2);
  }

  .news-post._red {
    border-left: 5px solid var(--red-1);
  }

  .news-post._gray {
    border-left: 5px solid var(--gray-25);
  }

  .news-post._blue {
    border-left: 5px solid var(--blue-1);
  }
}

@media screen and (max-width: 600px) {
  .news {
    border-top: none;
  }

  .news .news-post .news-post__header .news-post__buttons {
    opacity: 1;
  }
}
