.question-area {
  position: fixed;
  display: flex;

  justify-content: center;
  align-items: center;

  top:0;
  left:0;

  height: 100vh;
  width: 100vw;

  background: rgba(0,0,0,0.2);

  .question {
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    background: var(--white);

    border-radius: 2px;
    border: 1px solid var(--gray-8);

    padding: 10px 30px 15px;

    display: flex;
    flex-direction: column;

    .question__message {
      font-weight: bold;
      font-size: 20px;

      margin: 20px;
    }

    .question__buttons {
      display: flex;
      justify-content: center;

      .button {
        margin-left: 10px;
      }
    }
  }
}