.task-creator {
  overflow: hidden;
  flex: 1;

  min-width: 1200px;

  box-sizing: border-box;

  border: 1px solid var(--gray-8);

  .task-creator__header {
    border-bottom: 1px solid var(--gray-8);

    background: var(--gray-3);

    display: flex;
    justify-content: space-between;

    height: 48px;
    box-sizing: border-box;

    padding: 5px;
  }

  .task-creator__info {
    display: flex;
  }

  .task-creator__h2 {
    margin: 0;
    align-self: center;

    line-height: 1.4;
  }

  .task-creator__buttons {
    display: flex;

    .button {
      display: flex;
      align-items: center;

      margin-left: 5px;
    }

    .button:first-child {
      margin-left: 0;
    }

    .button:hover {
      color: var(--red-1);
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      transform: scale(1.20);
    }
  }

  .task-creator__area {
    display: flex;

    height: calc(100% - 48px);


    .task-list {
      min-width: 230px;
      max-width: 250px;

      display: flex;
      flex-direction: column;

      .task-list__header {
        border: 1px solid var(--gray-8);
        border-top: none;
        border-left: none;

        background: var(--gray-3);

        display: flex;
        justify-content: center;


        padding: 5px;
      }

      ._inner {
        margin-left: -5px;
        margin-right: -5px;
      }

      .task-list__h3 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }

      .task-list__tasks {
        display: flex;
        flex-direction: column;

        padding: 10px;

        height: 100%;

        overflow-y: auto;

        border-right: 1px solid var(--gray-8);
        box-sizing: border-box;
      }
    }
  }
}

.task-info {
  overflow: hidden;

  box-sizing: border-box;

  .task-info__header {
    background: var(--gray-3);

    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    height: 48px;

    padding: 5px 50px;
  }

  .task-info__info {
    display: flex;
  }

  .task-info__h2 {
    margin: 0;
    align-self: center;

    line-height: 1.4;
  }
}

@media screen and (max-width: 600px) {
  .task-creator {
    border-top: none;
  }
}