.task {
  border: 1px solid var(--gray-18);

  box-sizing: border-box;

  border-radius: 10px;
  margin-top: 10px;

  position: relative;

  display: flex;
  justify-content: center;

  cursor: pointer;
  text-decoration: none;

  .task__back {
    position: absolute;

    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;

    font-size: 35px;
    letter-spacing: 5px;

    font-weight: 900;
    color: var(--gray-5);

    margin-top: 5px;

    user-select: none;
  }

  .task__name {
    display: inline-block;
    width: 100%;
    font-size: 19px;

    border-radius:0 0 10px 10px;

    text-align: center;

    padding: 3px;

    margin-top: 50px;

    align-self: flex-end;

    color: var(--gray-30);
    background: var(--gray-4);

    z-index: 1;
  }
}

.task__plus {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 5px;

  border: 1px solid var(--gray-20);

  box-sizing: border-box;

  border-radius: 10px;

  font-size: 35px;
  letter-spacing: 5px;

  font-weight: 900;
  color: var(--gray-19);

  cursor: pointer;

  user-select: none;
}

.task__plus:hover {
  color: var(--black-1);
  border: 1px solid var(--gray-30);
}

.task:hover .task__back {
  color: var(--gray-10);
}

.task:hover  {
  border: 1px solid var(--gray-30);
}

.task:hover .task__name  {
  color: var(--black-1);
  background: var(--gray-5);
}

.task__empty {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-content: center;

  user-select: none;
  margin-top: 58px;

  margin-left: 50px;

  color: #979797;

  font-size: 30px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0;

    color: var(--gray-10);

    margin-right: 50px;

    transform: scale(6);
  }
}

.task__content {
  flex:1;

  min-width: 900px;

  .task__header {
    border-bottom: 1px solid var(--gray-8);

    background: var(--gray-2);

    display: flex;
    align-content: center;
    justify-content: space-between;

    padding: 5px;

    .task__h3 {
      margin: 0;
      align-self: center;
      margin-left: 5px;

      font-weight: 400;

      line-height: 1.4;
    }

    .task-content__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        border: 1px solid var(--gray-25);
        border-radius: 2px;

        margin-left: 5px;
        color: var(--black-1);

        padding: 5px 15px;
        line-height: 1.15;

        text-decoration: none;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: #c00;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        transform: scale(1.20);
      }
    }
  }

  .task__data {
    display: flex;
    flex-direction: column;

    height: calc(100% - 38px);
    overflow: auto;

    .task__item {
      padding: 10px;

      display: flex;
      justify-content: space-between;

      input[type="text"],
      input[type="number"],
      input[type="date"],
      input[type="time"],
      select {
        flex:1;
      }

      .button {
        border-width: 1px;
      }
    }

    ._student {
      display: flex;
      flex-direction: column;

      .task-item__name {
        align-self: flex-start;
        font-weight: bold;

        margin-right: 0;
      }

      .task-item__value {
        align-self: stretch;
        margin: 0;
      }

      a {
        border: none;
        color:var(--black-1);
      }

      .task-item__answer {
        margin: 0;
      }
    }

    .task-item__value {
      align-self: center;

      flex:1;


      padding: 5px;

      border: 1px solid var(--gray-8);
      border-radius: 3px;
    }

    .task-item__name {
      align-self: center;

      margin-right: 5px;

      padding: 5px;
    }

    .button {
      background: white;
      border-radius: 3px;
      margin-left: 10px;
    }

    .task__item {
      border-bottom: 1px solid var(--gray-5);
    }

    ._file {
      border-bottom: none;
      padding: 5px 15px;

      .button {
        padding: 3px 15px;
      }
    }

    ._file:nth-child(odd) {
      background: var(--gray-1);
    }

    ._file:last-child {
      border-bottom: 1px solid var(--gray-5);
    }

    ._file:hover {
      background: var(--gray-3);
    }

    .task__file-select {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 1px solid var(--gray-5);
      font-weight: bold;

      padding:10px;
    }

    .task-item__scroll {
      display: flex;
      flex:1;

      padding: 5px;

      justify-content: center;

      .task {
        width: 220px;

        margin: 0;
        margin-left: 10px;
      }

      .task:first-child {
        margin-left: 0;
      }
    }

    ._option {
      .task {
        width: 275px;

        margin: 0;
        margin-left: 10px;
      }

      .task__item {
        display: flex;
      }

      input[type="file"] {
        line-height: 1.5;
        background: white;
      }
    }

    ._test {
      display: flex;
      flex-direction: column;

      .task-item__question {
        display: flex;

        .task-item__name {
          font-weight: normal;
        }

        input {
          margin:0;
        }
      }

      .task-item__answer {
        margin: 10px 0;
        display: flex;

        input {
          margin:0;
        }
      }

      .button {
        align-self: flex-end;
      }
    }

    ._green {
      background: var(--green-1);
    }

    ._red {
      background: var(--red-2);
    }

    ._student .task-item__answer {
      margin: 0;
      margin-top: 10px;
    }

    ._active {
      border: 1px solid var(--gray-25);

      .task__back {
        color: var(--gray-25);
      }

      .task__name {
        border-radius:0 0 10px 10px;

        color: var(--black-1);
        background:var(--gray-8);
      }
    }
  }
}