.table {
  border-spacing: 0px;
  box-sizing: border-box;

  width: 100%;

  .table__header {
    background: var(--gray-2);

    .cell {
      a {
        text-decoration: none;

        padding: 15px  20px;

        color:black;
        white-space: nowrap;

        display: block;
      }

      a:hover {
        background:  var(--gray-5);
      }
    }
  }

  .table__content {
    .group-cell {
      td {
        text-align: center;

        padding: 5px;
        background: var(--gray-1);

        border-top: 1px solid var(--gray-8);
        border-bottom: 1px solid var(--gray-8);
      }

      td:hover {
        background:  var(--gray-5);
      }
    }

    .table-row {
      .table-row-header {
        padding: 0 10px;

        text-align: center;

        a {
          box-sizing: border-box;
          text-decoration: none;
          padding: 5px 15px;

          color:black;

          white-space: nowrap;

          display: block;
        }
      }

      .table-row-header:nth-child(2) {
        border-right: 1px solid var(--gray-8);
      }

      .table-cell {
        text-align: center;

        a {
          box-sizing: border-box;
          text-decoration: none;

          padding: 5px;

          color:black;

          display: block;
        }

        a:hover {
          background:  var(--gray-5);
        }
      }
    }

    .table-row:nth-child(2n-1) {
      background: var(--gray-1);
    }

    .table-row:nth-child(2n) .table-row-header{
      background: var(--gray-0);
    }

    .table-row:nth-child(2n+1) .table-row-header{
      background: var(--gray-2);
    }

    .table-row:nth-child(2n):hover .table-row-header{
      background: var(--gray-5);
    }

    .table-row:nth-child(2n+1):hover .table-row-header{
      background:  var(--gray-5);
    }

    .table-row:hover {
      background: var(--gray-2);
    }
  }
}
.fixed {
  border-left: 1px solid var(--gray-8);
}