.groups {
  width: 100%;

  box-sizing: border-box;

  .groups-header {
    border: 1px solid var(--gray-8);

    background: var(--gray-2);

    display: flex;
    justify-content: space-between;

    padding: 5px;

    .groups-header__info {
      display: flex;

      .groups-header__h2 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }
    }

    .groups-header__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        margin-left: 5px;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: var(--red-1);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        transform: scale(1.20);
      }
    }
  }

  .groups-writer {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--gray-8);
    border-top: none;

    .groups-writer__header {

      border-bottom: 1px solid var(--gray-8);

      background: var(--gray-0);

      display: flex;
      justify-content: space-between;

      padding: 5px;

      .groups-writer__h3 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }
    }

    .groups-writer__inputs {
      padding: 5px;

      .input-data {
        padding: 5px;

        select {
          margin: 0 5px;

          padding: 2px 5px;
        }

        .checkbox {
          transform: scale(1.4);
          margin-left: 5px;
        }
      }
    }
  }

  .group-list {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--gray-8);
    border-top: none;

    .group-list__header {
      border-bottom: 1px solid var(--gray-8);

      background: var(--gray-0);

      display: flex;
      justify-content: space-between;

      padding: 5px;

      .group-list__h3 {
        margin: 0;

        line-height: 1.4;
      }
    }

    .group {
      display: flex;
      flex-direction: column;

      .group__name {
        background: var(--gray-0);

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 5px;

        .group-list__h4 {
          margin: 0;
          margin-left: 5px;
          vertical-align: center;
          font-weight: 300;

          line-height: 1.2;
        }
      }
    }

    .group__data {
      display: flex;
      justify-content: space-between;

      border-bottom: 1px solid var(--gray-8);
      border-top: 1px solid var(--gray-8);
    }

    .group__info {
      flex: 1;

      display: flex;
      flex-direction: column;

      .group__span {
        margin-left: 10px;
        padding: 5px;
      }
    }

    .group__students {
      flex:1;

      margin-bottom: 10px;

      .student {
        font-size: 0.8em;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-left: 1px solid var(--gray-8);
        border-bottom: 1px solid var(--gray-8);

        a {
          flex:1;

          color:var(--black-1);
          text-decoration: none;

          padding: 5px 5px;

          display: block;
        }

        .button {
          padding: 4px 10px;
        }

        .icon {
          margin-left: 10px;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          padding: 2px;
          transform: scale(1.20);
        }

        .icon:hover {
          background: var(--gray-5);
        }
      }

      .student:nth-child(even) {
        background: var(--gray-0);
      }

      .student:hover {
        background: var(--gray-2);
      }
    }
  }

  .group:last-child .group__data{
    border-bottom: none;
  }

  .requests-list {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--gray-8);
    border-top: none;

    .requests__header {
      border-bottom: 1px solid var(--gray-8);
      border-top: 1px solid var(--gray-8);

      background: var(--gray-0);

      display: flex;
      justify-content: space-between;

      padding: 5px;

      .requests__h3 {
        margin: 0;

        line-height: 1.4;
      }
    }

    .requests__header:first-child{
      border-top:none;
    }

    .request {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      flex-wrap: wrap;

      .request__content {
        .request__name {
          margin: 0;

          margin-left: 5px;
          flex: 1;

          color: black;
          text-decoration: none;

          padding: 5px;

          display: inline-block;
          background: var(--gray-2);
          border-radius: 3px;
          border:1px solid var(--gray-8);
        }

        .span {
          display: inline-block;

          background: var(--gray-2);
          border-radius: 3px;

          border:1px solid var(--gray-8);

          padding: 5px 10px;
        }
      }

      .request__buttons {
        .button {
          background: none;

          border-radius: 3px;

          color:var(--gray-30);

          margin-left: 10px;

          border:1px solid var(--gray-15);
        }

        .button:hover {
          color: var(--black-1);
          background: var(--gray-3);
          border:1px solid var(--gray-25);
        }
      }
    }

    .request:nth-child(odd) {
      background: var(--gray-1);
    }

    .request:hover {
      background: var(--gray-2);
    }
  }
}

@media screen and (max-width: 600px) {

  .groups .groups-header {
    border-top: none;
  }

  .groups .request .request__content {
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .groups .request .request__buttons {
    padding-top: 5px;
    margin-bottom: 5px;
  }
}