/*Кастомный сброс стилей*/

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #C2C2C2;
    box-shadow: inset 0 0 5px #AEAEAE;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #8A8A8A;
}
::-webkit-scrollbar-thumb:active {
    background-color: #727272;
    box-shadow: inset 0 0 5px #595959;
}
::-webkit-scrollbar-track:hover {
    background-color: #E6E6E6;
    border: 1px solid #CFCFCF;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

* {
    font-family: 'Roboto', sans-serif;
}

button {
    border-width: 1px;
}