:root {

    /*Основной цвет*/
    --main-bg-color: brown;

    --main-padding: 15px;

    --white: #ffffff;

    --gray-0: #fafafa;
    --gray-1: #f5f5f5;
    --gray-2: #f0f0f0;
    --gray-3: #ebebeb;
    --gray-4: #e6e6e6;
    --gray-5: #e1e1e1;
    --gray-6: #dcdcdc;
    --gray-7: #d7d7d7;
    --gray-8: #d2d2d2;
    --gray-9: #cdcdcd;
    --gray-10: #c8c8c8;
    --gray-11: #c3c3c3;
    --gray-12: #bebebe;
    --gray-13: #b9b9b9;
    --gray-14: #b4b4b4;
    --gray-15: #afafaf;
    --gray-16: #aaaaaa;
    --gray-17: #a5a5a5;
    --gray-18: #a0a0a0;
    --gray-19: #9b9b9b;
    --gray-20: #969696;

    --gray-25: #767676;
    --gray-30: #4b4b4b;

    --black-1: #000000;

    --red-1: #e20000;
    --red-2: #ffcfcf;

    --green-1: #dfffdf;
    --green-2: #67a300;

    --blue-1: #1e90ff;
}