.deadlines {
  overflow: hidden;
  flex: 1;

  box-sizing: border-box;
  border: 1px solid var(--gray-8);

  .deadlines__header {
    border-bottom: 1px solid var(--gray-8);

    background: var(--gray-2);

    display: flex;
    justify-content: space-between;

    padding: 5px;

    .deadlines__info {
      display: flex;

      .deadlines__h2 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }
    }

    .deadlines__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        margin-left: 5px;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: var(--red-1);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        transform: scale(1.20);
      }
    }
  }

  .deadlines__data {
    .deadlines__list {
      .deadline {
        border: 1px solid var(--gray-15);

        padding: 8px 10px;

        border-radius: 3px;
        margin: 15px 10px;

        display: flex;
        justify-content: space-between;
      }

      .deadline__info {

      }

      .deadline__name {
        font-weight: bold;
      }

      .deadline__link {
        margin-left: 10px;

        color:black;
      }

      .deadline__date {
        text-decoration: underline;
        color: var(--gray-30);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .deadlines {
    border-top: none;
  }
}