.materials {
  overflow: hidden;
  flex: 1;

  box-sizing: border-box;
  border: 1px solid var(--gray-8);

  pre {
    font-family: Roboto,sans-serif;
  }

  .materials__header {
    border-bottom: 1px solid var(--gray-8);

    background: var(--gray-2);

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    padding: 5px;

    .materials__info {
      display: flex;
      flex:1;

      .materials__h2 {
        margin: 0;
        align-self: center;
        white-space: nowrap;



        line-height: 1.4;
      }
    }

    .materials__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        margin-left: 5px;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: var(--red-1);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        transform: scale(1.20);
      }
    }
  }

  .materials__data {
    .materials__add {
      padding: 8px 10px;

      border-bottom: 1px solid var(--gray-8);

      display: flex;
      flex-direction: column;

      input[type="text"] {
        margin-bottom: 10px;
        line-height: 1.5;

        border: 1px solid var(--gray-8);
        border-radius: 3px;
        padding: 8px 0 8px 10px;
      }

      textarea {
        margin-bottom: 10px;
        line-height: 1.5;

        min-height: 100px;

        border: 1px solid var(--gray-8);
        border-radius: 3px;
        padding: 8px 0 8px 10px;

        resize: vertical;
      }

      .materials__buttons {
        display: flex;
        justify-content: space-between;

        input{
          line-height: 1.5;
          border-radius: 3px;

          background: var(--white);
        }
      }
    }

    .material {
      border: 1px solid var(--gray-15);

      padding: 7px 10px 5px;

      border-radius: 3px;
      margin: 15px 10px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .material__header {
        display: flex;
        justify-content: space-between;

        width: 100%;
        flex-wrap: nowrap;

        .material__title {
          font-weight: bold;
          font-size: 18px;

          padding: 2px 5px 0;

          align-self: center;
          border-bottom: 1px solid var(--gray-8);

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .material__buttons {
          display: flex;
          flex-shrink: 0;

          opacity: 0;
          transition: 0.4s;

          margin-left: 10px;

          border: 1px solid var(--gray-8);
          border-radius: 3px;

          background: var(--gray-1);

          .button {
            padding: 5px;
            background: inherit;

            border:none;
          }

          .button:hover {
            background: var(--gray-0);
          }

          .icon {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .material__description {
        border: 1px solid var(--gray-8);
        border-radius: 3px;

        margin-top: 8px;
        padding: 5px;

        margin-bottom: 5px;
        white-space: pre-wrap;

        background: var(--gray-1);
      }

      .material__files {
        border: 1px solid var(--gray-8);
        border-radius: 3px;

        margin-top: 8px;
        padding: 5px;

        margin-bottom: 5px;
        white-space: pre-wrap;

        background: var(--gray-1);

        display: flex;
        flex-direction: column;

        align-items: flex-start;

        a {
          margin-bottom: 10px;
          color:var(--black-1);
        }

        a:last-child {
          margin-bottom: 0;
        }
      }
    }

    .material:hover .material__buttons {
      opacity: 1;
    }

    .materials__empty {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .materials {
    border-top: none;
  }
}