.login {
  width: 420px;
  padding: 15px;

  background: var(--gray-2);

  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  .login__years {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .login__h1 {
    margin: 0 0 10px;
  }

  .login__info {
    border:1px solid var(--gray-25);
    border-radius: 5px;
    background: var(--white);

    margin-right: 10px;

    flex-shrink: 0;

    width: 180px;
    height: 60px;

    justify-content: space-between;
    padding: 5px 10px 10px 5px;

    display: flex;
    flex-direction: column;
  }

  .login__info:hover {
    background: var(--gray-3);
    cursor: pointer;
  }

  .login__date {
    align-self: flex-end;
  }

  .login__h2 {
    margin: 0;

    font-size: 20px;

    font-weight: 400;
  }

  .login__button {
    width: 300px;

    line-height: 1.5;

    font-size: 1.2em;
    color: var(--white);

    background: #366bb6;

    align-self: center;
    cursor: pointer;

    border-radius: 3px;
    border:1px solid #366bb6;
  }

  .login__button:hover {
    background: rgb(91, 134, 205);
    border:1px solid #366bb6;
  }
}