.schedule {
  overflow: hidden;
  flex:1;

  box-sizing: border-box;

  .schedule-header {
    border: 1px solid var(--gray-8);

    background: var(--gray-2);

    display: flex;
    justify-content: space-between;

    padding: 5px;

    .schedule__info {
      display: flex;

      .schedule__h2 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }
    }

    .schedule__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        margin-left: 5px;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: var(--red-1);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        transform: scale(1.20);
      }
    }
  }

  .schedule__content {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;

    border: 1px solid var(--gray-8);
    border-top: none;

    box-sizing: border-box;
  }

  .schedule__table {
    border-spacing: 0px;
    box-sizing: border-box;
    width: 100%;

    .schedule__header {
      background: var(--gray-2);

      .cell {
        text-decoration: none;

        padding: 15px 20px;

        color: black;
        white-space: nowrap;

        box-sizing: border-box;
        margin: 0;

        width: 155px;

        border-bottom: 1px solid var(--gray-8);
        border-left: 1px solid var(--gray-8);
      }

      .cell:nth-child(2) {
        border-left: 1px solid var(--gray-8);
       }

      .cell:hover {
        background: var(--gray-5);
      }
    }

    .schedule__content {
      .schedule-row {
        .schedule-row-header {
          text-align: center;

          box-sizing: border-box;
          padding: 5px 20px;

          color: black;

          white-space: nowrap;


        }

        .schedule-row-header:nth-child(2) {
          border-right: 1px solid var(--gray-8);
        }

        .schedule-cell {
          text-align: center;

          box-sizing: border-box;
          text-decoration: none;

          padding: 5px;

          height: 70px;

          color: black;
          margin: 0;

          border-left: 1px solid var(--gray-8);
        }

        .schedule-cell:hover {
          background: var(--gray-5);
        }

        .cell-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 5px;

          border:1px solid var(--gray-8);
          cursor: pointer;

          margin-bottom: 5px;

          .cell-value {
            font-weight: bold;
          }

          .cell-type {
            margin-top: 5px;
          }
        }

        .cell-content:last-child {
          margin-bottom: 0;
        }

        .schedule-cell:hover .cell-content{
          border:1px solid var(--gray-13);
        }

        .empty {
          display: none;
         }
      }

      .schedule-row:nth-child(2n) {
        background: var(--gray-1);
      }

      .schedule-row:nth-child(2n) .table-row-header{
        background: var(--gray-0);
      }

      .schedule-row:nth-child(2n+1) .table-row-header{
        background: var(--gray-2);
      }

      .schedule-row:nth-child(2n):hover .table-row-header{
        background: var(--gray-5);
      }

      .schedule-row:nth-child(2n+1):hover .table-row-header{
        background:  var(--gray-5);
      }

      .schedule-row:hover {
        background: var(--gray-2);
      }
    }
  }
  .fixed {
    border-left: 1px solid var(--gray-8);;
  }
}

@media screen and (max-width: 600px) {
  .schedule .schedule-header {
    border-top: none;
  }
}