.grade-book {
  overflow: hidden;
  flex:1;

  box-sizing: border-box;

  .grade-book-header {
    border: 1px solid var(--gray-8);

    background: var(--gray-2);

    display: flex;
    justify-content: space-between;

    padding: 5px;

    .grade-book__info {
      display: flex;

      .grade-book__h2 {
        margin: 0;
        align-self: center;

        line-height: 1.4;
      }
    }

    .grade-book__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        margin-left: 5px;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: var(--red-1);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        transform: scale(1.20);
      }
    }
  }

  .grade-book__table {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;

    display: flex;

    border: 1px solid var(--gray-8);
    border-top: none;

    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .grade-book {
    .grade-book-header {
      border-top: none;
    }
  }
}