.tabs {
  margin-top:10px;

  width: 420px;
}

.tabs__zone {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;
  align-content: center;

  margin: 5px 0 5px 0;
  color: var(--black-1);
}

.tabs__zone ._light {
  color: var(--black-1);

  a:link, a:visited, a:focus {
    color: var(--black-1);
  }

  a:hover {
    opacity: 1;
    color: #333;
  }
}

.tabs__zone ._invisible {
  opacity: .6;
  color: var(--white);

  a:link, a:visited, a:focus {
    color: var(--white);
  }

  a:hover {
    color: var(--red-1);
  }
}

.tabs__zone ._dark {
  background: #222222;
  color:white;

  a:link, a:visited, a:focus {
    color: var(--white);
  }

  a:hover {
    color: var(--red-1);
  }
}
