.notifications {
  width: 100%;

  box-sizing: border-box;
  border: 1px solid var(--gray-8);

  .notifications-header {
    border-bottom: 1px solid var(--gray-8);
    background: var(--gray-2);

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    padding: 5px;

    .notifications-header__info {
      display: flex;
      flex: 1;

      .notifications-header__h2 {
        margin: 0;
        align-self: center;
        white-space: nowrap;

        line-height: 1.4;
      }
    }

    .notifications-header__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        margin-left: 5px;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: var(--red-1);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        transform: scale(1.20);
      }
    }

    @media screen and (max-width: 600px) {
      .notifications-header__buttons {
        font-size: 15px;

        .button {
          padding: 3px 5px;
        }
      }
    }
  }

  .notification-data {
    .empty {
      margin: 0;
      align-self: center;

      color: var(--gray-30);
      font-weight: 500;
      background: var(--gray-1);

      padding: 5px 10px;

      line-height: 1.4;

      border-bottom: 1px solid var(--gray-8);
    }

    .notification-post {
      display: flex;
      flex-direction: column;

      border: 1px solid var(--gray-8);
      border-radius: 3px;
      margin: 15px 10px;

      padding: 7px 10px 5px;
    }

    .notification-post__header {
      display: flex;
      justify-content: space-between;
    }

    .notification-post__author {
      font-weight: bold;
      font-size: 18px;

      padding: 2px 5px 0;
      display: block;

      align-self: center;
      border-bottom: 1px solid var(--gray-8);
    }

    .notification-post__buttons {
      display: flex;
      transition: 0.4s;
      align-items: center;

      .button {
        border: 1px solid var(--gray-8);
        border-radius: 3px;
        background: var(--gray-1);
        padding: 5px;
      }

      .button:hover {
        background: var(--gray-0);
      }

      .viewed {

        color: var(--gray-25);
      }

      .icon {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }

    .source {
      border: 1px solid var(--gray-8);
      border-radius: 3px;

      align-self: flex-start;

      padding: 5px 10px 5px 5px ;

      margin-bottom: 10px;

      background: var(--gray-1);
    }

    .notification-post__message {
      border: 1px solid var(--gray-8);
      border-radius: 3px;

      margin-top: 8px;
      padding: 5px;

      margin-bottom: 10px;
      white-space: pre-wrap;

      background: var(--gray-1);
    }

    .notification-post__info {
      display: flex;

      justify-content: space-between;
    }

    .notification-post__tags {
      display: flex;
      height: 25px;

      .tag {
        margin: 0 5px;
        padding:0 5px;

        display: flex;
        height: 19px;

        white-space: nowrap;

        align-self: center;
      }

      .tag:first-child {
        margin-left: 0;
      }

      ._green {
        border-bottom: 3px solid var(--green-2);
      }

      ._red {
        border-bottom: 3px solid var(--red-1);
      }

      ._gray {
        border-bottom: 3px solid var(--gray-25);
      }

      ._blue {
        border-bottom: 3px solid var(--blue-1);
      }
    }

    .notification-post._green {
      border-left: 5px solid var(--green-2);
    }

    .notification-post._red {
      border-left: 5px solid var(--red-1);
    }

    .notification-post._gray {
      border-left: 5px solid var(--gray-25);
    }

    .notification-post._blue {
      border-left: 5px solid var(--blue-1);
    }

    .notification-post__date {
      align-self: center;

      color:var(--gray-25);
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .notifications {
    border-top: none;
  }
}
