.profile {
  width: 100%;

  box-sizing: border-box;
  .profile-header {
    border: 1px solid var(--gray-8);

    background: var(--gray-2);

    display: flex;
    justify-content: space-around;

    padding: 5px;
    flex-wrap: wrap;

    .profile-header__info {
      display: flex;
      flex: 1;

      .profile-header__h2 {
        margin: 0;
        align-self: center;

        white-space: nowrap;

        line-height: 1.4;
      }

      .profile-header__num {

        margin-top: 10px;
        margin-left:10px;

        color: var(--gray-25);
      }

      .profile-header__num:hover {
        color: var(--gray-16);
      }
    }

    .profile-header__buttons {
      display: flex;

      .button {
        display: flex;
        align-items: center;

        margin-left: 5px;
      }

      .button:first-child {
        margin-left: 0;
      }

      .button:hover {
        color: var(--red-1);
      }

      ._red:hover {
        color: black;
        background: var(--red-2);
        border-color: var(--red-1);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;


        padding: 0;

        transform: scale(1.20);
      }
    }
  }

  .profile-data {
    .profile-data__data {
      display: flex;

      border: 1px solid var(--gray-8);
      border-top: none;


      
      .profile-data__user-data {
        min-width: 420px;

        flex:1
      }

      .profile-data__user-settings {
        border-left: 1px solid var(--gray-8);

        flex:2;
      }

      .profile-data__h3 {
        margin: 0;
        align-self: center;

        color: var(--gray-30);
        font-weight: 500;
        background: var(--gray-1);

        padding: 5px 10px;

        line-height: 1.4;

        border-bottom: 1px solid var(--gray-8);
      }

      .profile-data__list {
        display: flex;
        flex-direction: column;

        padding: 10px 0;
      }

      .profile-data__item {
        padding: 5px 15px;
      }

      .profile-data__item-name {
        font-weight: 600;
      }

      .profile-data__item-data:hover {
        color: var(--gray-25);
      }

      .profile-data__item-data {
        color: var(--gray-25);
      }

      .profile-data__edit-tags {
        display: flex;

        margin-top: 5px;
        padding-left: 5px;

        flex-wrap: wrap;
      }

      .tag {
        margin: 0 5px;
        padding:0 5px ;

        display: flex;
        height: 19px;

        white-space: nowrap;

        line-height: 1.15;
        align-self: center;
      }

      @media screen and (max-width: 600px) {
        .tag{
          margin-top: 5px;
        }
      }

      .delete-tag-icon {
        margin-left: 2px;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        cursor: pointer;
      }

      ._green {
        border-bottom: 3px solid var(--green-2);
      }

      ._red {
        border-bottom: 3px solid var(--red-1);
      }

      ._gray {
        border-bottom: 3px solid var(--gray-30);
      }

      ._blue {
        border-bottom: 3px solid var(--blue-1);
      }
    }

    .profile-data__edit-mode {
      display: flex;
      justify-content: flex-end;

      border: 1px solid var(--gray-8);
      border-top: none;

      background: var(--gray-2);

      padding: 7px 10px 5px;

      .profile-data__buttons {
        display: flex;

        .button {
          display: flex;
          align-items: center;

          margin-left: 5px;
        }

        .button:first-child {
          margin-left: 0;
        }

        ._red {
          color: var(--red-1);
          background: white;
          border:1px solid var(--red-1);
        }

        ._red:hover {
          color: black;
          background: var(--red-2);
          border:1px solid var(--red-1);
        }

        ._green {
          color: var(--green-2);
          background: white;
          border:1px solid var(--green-2);
        }

        ._green:hover {
          color: black;
          background: var(--green-1);
          border:1px solid var(--green-2);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .profile {
    .profile-header {
      border-top: none;
    }

    .profile-data {
      .profile-data__data {
        flex-direction: column;
      }
    }
  }
}