.first-visit-page {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: var(--gray-0);

  .first-visit__info {

    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--white);
    border: 1px solid var(--gray-8);

    border-radius: 3px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

    button{
      margin-top:10px;
      padding: 5px 10px;
    }
  }
}