.student-tasks {

  .task-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 10px;
    margin: 10px 10px 0;

    border: 1px solid var(--gray-8);
    border-radius: 3px;


    color: black;
    text-decoration: none;
  }

  .task-link:last-child {
    margin-bottom: 10px;
  }

  .task-link:hover {
    background: var(--gray-2);
    border: 1px solid var(--gray-13);
  }

  .link-date {
    color: var(--gray-25);
  }

  .task__header {
    border-left: none;
  }

  .task-data {
    .task__item {
      justify-content: flex-start;

      a {
        margin-left: 10px;
        color:black;
      }
    }

    ._check {
      display: flex;
      flex-direction: column;
    }

    .task__mark {

      margin-bottom: 10px;

      input {
        margin-left: 10px;
        line-height: 1.5;

        width: 40px;
        text-align: center;

        background: var(--gray-1);
        border: 1px solid var(--gray-8);
        border-radius: 3px;
        padding: 8px 0 8px 10px;
      }
    }

    .task__comment {
      display: flex;
      flex-direction: column;

      margin-bottom:10px;

      textarea {
        overflow: auto;

        resize: none;

        height: 120px;

        background: var(--gray-1);
        border: 1px solid var(--gray-8);
        border-radius: 3px;
        padding: 8px 0 8px 10px;
      }
    }

    .task__button {
      display: flex;
      justify-content: space-between;
    }
  }
}